.RequestDone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .RequestDone h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .RequestDone p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .RequestDone a {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .RequestDone a:hover {
    background-color: #0056b3;
  }
  /* RequestDone.css */

.RequestDone button {
    padding: 1rem 2rem; /* Increase padding for bigger button */
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .RequestDone button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  