/* Overall component styling */
.pending-signup-review {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin: 20px auto;
    max-width: 800px;
}

.pending-signup-review h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Styling for post containers */
.post-container {
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-container h3 {
    color: #555;
    margin-bottom: 10px;
}

.post-container p {
    color: #666;
    line-height: 1.5;
}

/* List and buttons */
.pending-signup-review ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.pending-signup-review li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.pending-signup-review li:last-child {
    border-bottom: none;
}

.pending-signup-review button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    /* width: 100%; */
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    outline: none;
}


.pending-signup-review button:hover {
    background-color: #0056b3;
}

/* Modal styling */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
}

.modal-content h4 {
    margin-top: 0;
    color: #333;
}

.modal-close {
    float: right;
    font-size: 1.5rem;
    color: #aaa;
    cursor: pointer;
}

.modal-close:hover {
    color: #777;
}

.block-text {
    display: block;
}