/* styles/FilterFood.css */

.filterclothes {
    position: relative;
    display: inline-block;
}

.filterclotheslist {
    position: absolute;
    top: 30px; /* Adjust this value according to your design */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex; /* Make the container flexbox */
}

.filterclotheslist > div {
    flex: 1; /* Equal width for each column */
    margin-right: 20px; /* Adjust the spacing between columns */
}

.filterclotheslist p {
    font-weight: bold;
}

.filterclotheslist a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
}

.filterclotheslist a:hover {
    color: #555;
}
