/* Styles for the Submitted component */

.subjectsubmitted {
    text-align: center;
    margin-top: 50px;
  }
  
  .subjectsubmitted h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .subjectsubmitted p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
  }
  
  .subjectsubmitted .button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none; /* Remove default link underline */
  }
  
  .subjectsubmitted .button:hover {
    background-color: #0056b3;
  }
  