/* UpdateInfo.css */

/* Rest of the CSS code */

.formContainer {
  max-width: 600px;
  max-height: 25000px; /* Increase max-width */
  margin: 50px auto; /* Adjust margin */
  padding: 30px; /* Increase padding */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer h2 {
  margin-bottom: 20px;
}

input,
select {
  display: block;
  width: 100%;
  margin-bottom: 20px; /* Increase margin */
  padding: 15px; /* Increase padding */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: blue;
  color: white;
  padding: 15px 30px; /* Increase padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

.errorMessage {
  color: red;
  margin-top: 15px; /* Adjust margin */
}

/* Styles for the map container */
.mapContainer {
  width: 100%; /* Set the width to 100% */
  height: 800px; /* Increase the height */
  margin: 20px auto; /* Adjust margin */
  border: 1px solid #ccc;
  border-radius: 5px;
}
